[Unit]
Description=nanomsg %i subscriber

[Service]
Type=notify
ExecStart=/home/opxUser/subscriber -t nano -c /home/opxUser/%i.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

