[Unit]
Description=nanomsg %i publisher

[Service]
Type=notify
ExecStart=/home/opxUser/publisher -t nano -c /home/opxUser/%i.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

